footer {
	color: #666;
	letter-spacing: 2px;
	line-height: 1.7;

	.row {
		margin-top: 40px;
		border-top: 1px #B2B2B2 solid;
		padding-top: 40px;
	}

	h5 {
		font-weight: bold;
		display: block;
		padding-bottom: 10px;
	}

	p:last-child {
		margin-bottom: rem-calc(20);
	}

	p {
		margin-bottom: 0;
	}
}