<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT uBlogsyBaseDocType ANY>
<!ATTLIST uBlogsyBaseDocType id ID #REQUIRED>
<!ELEMENT uBlogsyBaseContainer ANY>
<!ATTLIST uBlogsyBaseContainer id ID #REQUIRED>
<!ELEMENT uBlogsyBasePage ANY>
<!ATTLIST uBlogsyBasePage id ID #REQUIRED>
<!ELEMENT uBlogsyAuthor ANY>
<!ATTLIST uBlogsyAuthor id ID #REQUIRED>
<!ELEMENT uBlogsyLabel ANY>
<!ATTLIST uBlogsyLabel id ID #REQUIRED>
<!ELEMENT uBlogsyContainerAuthor ANY>
<!ATTLIST uBlogsyContainerAuthor id ID #REQUIRED>
<!ELEMENT uBlogsyContainerLabel ANY>
<!ATTLIST uBlogsyContainerLabel id ID #REQUIRED>
<!ELEMENT uBlogsyLanding ANY>
<!ATTLIST uBlogsyLanding id ID #REQUIRED>
<!ELEMENT uBlogsyPage ANY>
<!ATTLIST uBlogsyPage id ID #REQUIRED>
<!ELEMENT uBlogsyPost ANY>
<!ATTLIST uBlogsyPost id ID #REQUIRED>
<!ELEMENT uBlogsyRSS ANY>
<!ATTLIST uBlogsyRSS id ID #REQUIRED>
<!ELEMENT uBlogsySiteRoot ANY>
<!ATTLIST uBlogsySiteRoot id ID #REQUIRED>
<!ELEMENT uDateFoldersyBase ANY>
<!ATTLIST uDateFoldersyBase id ID #REQUIRED>
<!ELEMENT uDateFoldersyFolderDay ANY>
<!ATTLIST uDateFoldersyFolderDay id ID #REQUIRED>
<!ELEMENT uDateFoldersyFolderMonth ANY>
<!ATTLIST uDateFoldersyFolderMonth id ID #REQUIRED>
<!ELEMENT uDateFoldersyFolderYear ANY>
<!ATTLIST uDateFoldersyFolderYear id ID #REQUIRED>
<!ELEMENT uTagsyBaseDocType ANY>
<!ATTLIST uTagsyBaseDocType id ID #REQUIRED>
<!ELEMENT uTagsyTag ANY>
<!ATTLIST uTagsyTag id ID #REQUIRED>
<!ELEMENT uTagsyTagContainer ANY>
<!ATTLIST uTagsyTagContainer id ID #REQUIRED>
<!ELEMENT BannerItem ANY>
<!ATTLIST BannerItem id ID #REQUIRED>
<!ELEMENT Collection ANY>
<!ATTLIST Collection id ID #REQUIRED>
<!ELEMENT CollectionLanding ANY>
<!ATTLIST CollectionLanding id ID #REQUIRED>
<!ELEMENT Contact ANY>
<!ATTLIST Contact id ID #REQUIRED>
<!ELEMENT ContentPage ANY>
<!ATTLIST ContentPage id ID #REQUIRED>
<!ELEMENT Dress ANY>
<!ATTLIST Dress id ID #REQUIRED>
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT InstagramGallery ANY>
<!ATTLIST InstagramGallery id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>

]>
<root id="-1">
  <umbHomePage id="1050" key="e206ffcf-7280-4299-aa2c-18f160716d54" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-04-18T12:38:05" updateDate="2014-10-17T23:33:15" nodeName="Home" urlName="home" path="-1,1050" isDoc="" nodeType="1048" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="1047" nodeTypeAlias="umbHomePage">
    <BannerItem id="1058" key="2ffe1215-38ce-4af9-92d0-f00260c8b529" parentID="1050" level="2" creatorID="0" sortOrder="0" createDate="2014-04-18T14:05:55" updateDate="2014-10-17T23:33:15" nodeName="Banner Item 1" urlName="banner-item-1" path="-1,1050,1058" isDoc="" nodeType="1057" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="0" nodeTypeAlias="BannerItem">
      <umbracoNaviHide>1</umbracoNaviHide>
      <link><![CDATA[http://www.google.com.au]]></link>
      <content><![CDATA[<p><span>This is a test banner item</span></p>
<p class="button">Smash It!</p>]]></content>
      <image>2232</image>
      <displayOrder><![CDATA[1]]></displayOrder>
      <heading><![CDATA[GretaKate Banner 1]]></heading>
    </BannerItem>
    <BannerItem id="1062" key="c4345840-eca3-4598-8288-3912376fb603" parentID="1050" level="2" creatorID="0" sortOrder="1" createDate="2014-04-18T17:54:08" updateDate="2014-10-17T23:33:15" nodeName="Banner Item 2" urlName="banner-item-2" path="-1,1050,1062" isDoc="" nodeType="1057" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="0" nodeTypeAlias="BannerItem">
      <umbracoNaviHide>1</umbracoNaviHide>
      <link><![CDATA[http://www.gretakate.com.au]]></link>
      <content><![CDATA[<p><span>Test</span></p>
<p><span>Test 2</span></p>
<p class="button">Discover</p>]]></content>
      <image>2231</image>
      <displayOrder><![CDATA[2]]></displayOrder>
      <heading><![CDATA[Banner 2]]></heading>
    </BannerItem>
    <CollectionLanding id="2256" key="d26d42c2-e786-47cc-bc86-73997aa95b56" parentID="1050" level="2" creatorID="0" sortOrder="3" createDate="2014-10-15T19:33:15" updateDate="2014-10-17T23:33:15" nodeName="Bridal" urlName="bridal" path="-1,1050,2256" isDoc="" nodeType="2255" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="2254" nodeTypeAlias="CollectionLanding">
      <Collection id="2261" key="6fe9be5e-9f00-4986-a9d0-a7eb61e99f95" parentID="2256" level="3" creatorID="0" sortOrder="0" createDate="2014-10-15T19:57:59" updateDate="2014-10-17T23:33:15" nodeName="Blanche Collection" urlName="blanche-collection" path="-1,1050,2256,2261" isDoc="" nodeType="2260" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="2259" nodeTypeAlias="Collection">
        <Dress id="2270" key="6a38965c-9680-4210-8758-3439cc9f9044" parentID="2261" level="4" creatorID="0" sortOrder="0" createDate="2014-10-15T21:11:29" updateDate="2014-10-17T23:33:15" nodeName="Dress 3" urlName="dress-3" path="-1,1050,2256,2261,2270" isDoc="" nodeType="2276" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="2275" nodeTypeAlias="Dress">
          <umbracoNaviHide>0</umbracoNaviHide>
          <title><![CDATA[Dress 3]]></title>
          <heroImage>2268</heroImage>
          <description><![CDATA[Dress 3]]></description>
        </Dress>
        <Dress id="2271" key="066075c1-aa14-4b40-9f03-ed3097f200d1" parentID="2261" level="4" creatorID="0" sortOrder="1" createDate="2014-10-15T21:11:57" updateDate="2014-10-17T23:33:15" nodeName="Dress 4" urlName="dress-4" path="-1,1050,2256,2261,2271" isDoc="" nodeType="2276" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="2275" nodeTypeAlias="Dress">
          <umbracoNaviHide>0</umbracoNaviHide>
          <title><![CDATA[Dress 4]]></title>
          <heroImage>2269</heroImage>
          <description><![CDATA[Dress 4]]></description>
          <otherImages><![CDATA[2268,2272]]></otherImages>
        </Dress>
        <Dress id="2273" key="473d0a85-99f8-4b0c-819e-d288b4805f5e" parentID="2261" level="4" creatorID="0" sortOrder="2" createDate="2014-10-15T21:15:31" updateDate="2014-10-17T23:33:15" nodeName="Dress 5" urlName="dress-5" path="-1,1050,2256,2261,2273" isDoc="" nodeType="2276" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="2275" nodeTypeAlias="Dress">
          <umbracoNaviHide>0</umbracoNaviHide>
          <title><![CDATA[Dress 5]]></title>
          <heroImage>2272</heroImage>
          <description><![CDATA[Dress 5]]></description>
        </Dress>
        <Dress id="2266" key="839ee454-a219-4ba1-a9b1-8c3142c60a1b" parentID="2261" level="4" creatorID="0" sortOrder="3" createDate="2014-10-15T21:02:48" updateDate="2014-10-17T23:33:15" nodeName="Dress 1" urlName="dress-1" path="-1,1050,2256,2261,2266" isDoc="" nodeType="2276" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="2275" nodeTypeAlias="Dress">
          <umbracoNaviHide>0</umbracoNaviHide>
          <title><![CDATA[Dress 1]]></title>
          <heroImage>2228</heroImage>
          <description><![CDATA[Dress]]></description>
        </Dress>
        <Dress id="2267" key="c799e7eb-f050-4952-9584-8f85dd2d3d62" parentID="2261" level="4" creatorID="0" sortOrder="4" createDate="2014-10-15T21:09:23" updateDate="2014-10-17T23:33:15" nodeName="Dress 2" urlName="dress-2" path="-1,1050,2256,2261,2267" isDoc="" nodeType="2276" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="2275" nodeTypeAlias="Dress">
          <umbracoNaviHide>0</umbracoNaviHide>
          <title><![CDATA[Dress 2]]></title>
          <heroImage>2229</heroImage>
          <description><![CDATA[Dress 2]]></description>
        </Dress>
        <umbracoNaviHide>1</umbracoNaviHide>
        <title><![CDATA[Blanche Collection]]></title>
        <summary><![CDATA[Summary]]></summary>
        <heroImage>2263</heroImage>
      </Collection>
      <ContentPage id="2277" key="46cdbbe5-ca2a-4f21-afd1-08fa8edd4460" parentID="2256" level="3" creatorID="0" sortOrder="2" createDate="2014-10-17T22:04:32" updateDate="2014-10-17T23:33:15" nodeName="Couture" urlName="couture" path="-1,1050,2256,2277" isDoc="" nodeType="1071" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="2233" nodeTypeAlias="ContentPage">
        <umbracoNaviHide>1</umbracoNaviHide>
        <title><![CDATA[Couture]]></title>
        <featuredPage>0</featuredPage>
        <summary><![CDATA[Couture summary]]></summary>
        <heroImage>2265</heroImage>
        <bodyText><![CDATA[<p>Couture collection detail to be entered here.</p>]]></bodyText>
        <enquiryForm>0</enquiryForm>
      </ContentPage>
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Bridal]]></title>
      <featuredPage>1</featuredPage>
      <summary><![CDATA[GretaKate bridal is a contemporary take on the traditional with elegant, beautiful designs at your fingertips. This range of gowns features exquisite quality materials including delicate laces, silks and embellishments sourced from around the world.]]></summary>
      <heroImage>2246</heroImage>
    </CollectionLanding>
    <ContentPage id="1076" key="b5992025-f62d-4fb3-838f-953764ca3266" parentID="1050" level="2" creatorID="0" sortOrder="4" createDate="2014-04-19T17:10:22" updateDate="2014-10-17T23:33:15" nodeName="Custom Made" urlName="custom-made" path="-1,1050,1076" isDoc="" nodeType="1071" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="2233" nodeTypeAlias="ContentPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Custom Made]]></title>
      <featuredPage>1</featuredPage>
      <summary><![CDATA[The ultimate bespoke experience where you work one-on-one with the designer to create your perfect outfit. Each garment is one-off, made to fit you and just as individual as you are!]]></summary>
      <heroImage>2248</heroImage>
      <bodyText><![CDATA[<p><span>GretaKate has a design for every occasion. Whether it be black tie events, school formals, bridesmaids, flower girls, mother-of-the-bride, or any special occasion, GretaKate captures the moment with effortless style. Working alongside the designer Greta, you shape your own experience with one-on-one design and fabric consultations and regular fittings. All garments are lovingly made in the GretaKate studio in Norwood, South Australia.</span></p>]]></bodyText>
      <enquiryForm>0</enquiryForm>
    </ContentPage>
    <ContentPage id="2234" key="d0f182f0-7453-4cab-8e68-73c13242ae5e" parentID="1050" level="2" creatorID="0" sortOrder="5" createDate="2014-09-08T21:18:50" updateDate="2014-10-17T23:33:15" nodeName="Accessories" urlName="accessories" path="-1,1050,2234" isDoc="" nodeType="1071" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="2233" nodeTypeAlias="ContentPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Accessories]]></title>
      <featuredPage>1</featuredPage>
      <summary><![CDATA[The GretaKate showroom offers the complete styling experience from Swarovski crystal jewellery and handbags to wedding shoes and bridal accessories.]]></summary>
      <heroImage>2237</heroImage>
      <bodyText><![CDATA[<p>Complete your experience at GretaKate with a range of exquisite accessories:</p>
<p><em>Jewellery:  </em>the GretaKate showroom houses an exclusive range of exquisite Swarovski crystal earrings, cuffs and bracelets.</p>
<p><em>Shoes:</em>  complete your look from head to toe, with one-off customised shoes. At GretaKate, we hand embellish your shoes using a selection of beads, trims and imported laces to compliment your dress. From $195.</p>
<p><em>Headpieces:  </em>GretaKate’s handmade combs are a beautiful statement to complete your bridal look. The combs slide easily into any hair style and can be worn with or without a veil. Each piece can be specifically designed to match your dress. From $225.</p>
<p><em>Veils:</em>  all veils are handmade in the GretaKate studio using delicate, soft bridal tulle. Choose from a selection of single tier, double tier, lace and cathedral veils to suit your contemporary or traditional look.</p>
<p><em>Dressing robes:</em>  GretaKate provides the perfect accessory to start off your special day. Hire these soft, feminine satin robes for all the bridal party. Available in a range of different prints and sizes (814). $35 per robe, on hire.</p>]]></bodyText>
      <imageGallery><![CDATA[2241,2242,2240]]></imageGallery>
      <enquiryForm>0</enquiryForm>
    </ContentPage>
    <ContentPage id="1086" key="949961bd-db01-4338-afda-accb04e83782" parentID="1050" level="2" creatorID="0" sortOrder="6" createDate="2014-05-07T22:12:42" updateDate="2014-10-17T23:33:15" nodeName="About" urlName="about" path="-1,1050,1086" isDoc="" nodeType="1071" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="2233" nodeTypeAlias="ContentPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[About]]></title>
      <featuredPage>0</featuredPage>
      <heroImage>2244</heroImage>
      <bodyText><![CDATA[<p class="BodyA"><span>It was a passion fostered from a young age, as Greta watched her creative grandmother at work. These early lessons on how to sew proved the greatest influence on Greta</span><span>’</span><span>s design career. After studying four years of Fashion Design and working in the rag trade for another five, Greta knew it was time to launch her own label in 2010. This long-held dream started in a home studio with a small range of sold-through trunk shows. The evolution of Greta</span><span>’</span><span>s style has naturally led to a focus on custom-made pieces and now a bridal range. For Greta, it</span><span>’</span><span>s more than the garment you create, it</span><span>’</span><span>s the relationships you develop along the way.</span></p>
<p><span>“</span><span>I think I am incredibly lucky to be part of the day most girls dream about</span><span>…</span><span>her wedding. You often spend over a year getting to know a bride and her life. It</span><span>’</span><span>s wonderful sharing all her excitement leading up to the big day. Your wedding day will pass you by very quickly, so I truly believe in enjoying a wonderful journey along the way. I love that GretaKate can be part of that.</span><span>”</span></p>]]></bodyText>
      <relatedContent>1075</relatedContent>
      <enquiryForm>0</enquiryForm>
    </ContentPage>
    <InstagramGallery id="1089" key="c4253f80-5226-4fbc-b52f-a26166cd3e45" parentID="1050" level="2" creatorID="0" sortOrder="7" createDate="2014-05-13T21:57:16" updateDate="2014-10-17T23:33:15" nodeName="Instafeed" urlName="instafeed" path="-1,1050,1089" isDoc="" nodeType="1088" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="1087" nodeTypeAlias="InstagramGallery">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Instafeed]]></title>
    </InstagramGallery>
    <uBlogsyLanding id="1188" key="28bc0f4e-3302-481a-b982-237048ba06a9" parentID="1050" level="2" creatorID="0" sortOrder="8" createDate="2014-06-01T15:15:40" updateDate="2014-10-17T23:33:15" nodeName="Blog" urlName="blog" path="-1,1050,1188" isDoc="" nodeType="1174" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="1122" nodeTypeAlias="uBlogsyLanding">
      <uBlogsyContainerAuthor id="1189" key="0e9297b7-54b7-4f2e-9609-22dedea10d6b" parentID="1188" level="3" creatorID="0" sortOrder="10" createDate="2014-06-01T15:15:40" updateDate="2014-10-17T23:33:15" nodeName="Authors" urlName="authors" path="-1,1050,1188,1189" isDoc="" nodeType="1172" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="0" nodeTypeAlias="uBlogsyContainerAuthor">
        <uBlogsyAuthor id="1190" key="45690fb0-5906-4b60-bb50-9f7679d251dd" parentID="1189" level="4" creatorID="0" sortOrder="2" createDate="2014-06-01T15:15:40" updateDate="2014-10-17T23:33:15" nodeName="Greta Rumbsy" urlName="greta-rumbsy" path="-1,1050,1188,1189,1190" isDoc="" nodeType="1170" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="0" nodeTypeAlias="uBlogsyAuthor">
          <umbracoNaviHide>0</umbracoNaviHide>
          <uBlogsyAuthorName><![CDATA[Greta Rumbsy]]></uBlogsyAuthorName>
        </uBlogsyAuthor>
        <umbracoNaviHide>1</umbracoNaviHide>
      </uBlogsyContainerAuthor>
      <uBlogsyContainerLabel id="1191" key="44cca542-d11a-44e6-b915-fcdd2384056a" parentID="1188" level="3" creatorID="0" sortOrder="11" createDate="2014-06-01T15:15:40" updateDate="2014-10-17T23:33:15" nodeName="Categories (optional)" urlName="categories-optional" path="-1,1050,1188,1191" isDoc="" nodeType="1173" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="0" nodeTypeAlias="uBlogsyContainerLabel">
        <uBlogsyLabel id="1192" key="51b0c37f-3f77-4163-92be-5facaba6c43e" parentID="1191" level="4" creatorID="0" sortOrder="2" createDate="2014-06-01T15:15:40" updateDate="2014-10-17T23:33:15" nodeName="Category 1" urlName="category-1" path="-1,1050,1188,1191,1192" isDoc="" nodeType="1171" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="0" nodeTypeAlias="uBlogsyLabel">
          <umbracoNaviHide>0</umbracoNaviHide>
          <uBlogsyLabelName><![CDATA[Category 1]]></uBlogsyLabelName>
        </uBlogsyLabel>
        <umbracoNaviHide>1</umbracoNaviHide>
      </uBlogsyContainerLabel>
      <uTagsyTagContainer id="1193" key="8299d805-4b02-43b9-9779-d370b198f3c7" parentID="1188" level="3" creatorID="0" sortOrder="12" createDate="2014-06-01T15:15:40" updateDate="2014-10-17T23:33:15" nodeName="Tags" urlName="tags" path="-1,1050,1188,1193" isDoc="" nodeType="1185" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="0" nodeTypeAlias="uTagsyTagContainer">
        <uTagsyTag id="1213" key="eaec3747-062d-447f-9c5c-70601019de49" parentID="1193" level="4" creatorID="0" sortOrder="1" createDate="2014-06-08T16:32:07" updateDate="2014-10-17T23:33:15" nodeName="Wedding" urlName="wedding" path="-1,1050,1188,1193,1213" isDoc="" nodeType="1184" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="0" nodeTypeAlias="uTagsyTag">
          <umbracoNaviHide>0</umbracoNaviHide>
          <uTagsyTagName><![CDATA[Wedding]]></uTagsyTagName>
        </uTagsyTag>
        <uTagsyTag id="1194" key="8a2524f7-233d-496f-88a5-87eda8a937a4" parentID="1193" level="4" creatorID="0" sortOrder="2" createDate="2014-06-01T15:15:40" updateDate="2014-10-17T23:33:15" nodeName="Custom Made" urlName="custom-made" path="-1,1050,1188,1193,1194" isDoc="" nodeType="1184" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="0" nodeTypeAlias="uTagsyTag">
          <umbracoNaviHide>0</umbracoNaviHide>
          <uTagsyTagName><![CDATA[Custom Made]]></uTagsyTagName>
        </uTagsyTag>
        <umbracoNaviHide>1</umbracoNaviHide>
      </uTagsyTagContainer>
      <uBlogsyRSS id="1195" key="5f73dc50-b0ab-45e6-bfcb-14ac45e56ec5" parentID="1188" level="3" creatorID="0" sortOrder="13" createDate="2014-06-01T15:15:40" updateDate="2014-10-17T23:33:15" nodeName="RSS" urlName="rss" path="-1,1050,1188,1195" isDoc="" nodeType="1177" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="1125" nodeTypeAlias="uBlogsyRSS">
        <umbracoNaviHide>1</umbracoNaviHide>
        <uBlogsyRssTitle><![CDATA[My Blog]]></uBlogsyRssTitle>
        <uBlogsyRssDescription><![CDATA[Blog Description]]></uBlogsyRssDescription>
        <uBlogsyRssCopyright><![CDATA[Copyright @AnthonyDotNet]]></uBlogsyRssCopyright>
      </uBlogsyRSS>
      <uDateFoldersyFolderYear id="1196" key="b331d097-90e5-4386-b807-f20a3f967284" parentID="1188" level="3" creatorID="0" sortOrder="14" createDate="2014-06-01T15:15:40" updateDate="2014-10-17T23:33:15" nodeName="2014" urlName="2014" path="-1,1050,1188,1196" isDoc="" nodeType="1182" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="1127" nodeTypeAlias="uDateFoldersyFolderYear">
        <uDateFoldersyFolderMonth id="1197" key="eb7f328b-8632-4402-a20e-158a024d35bf" parentID="1196" level="4" creatorID="0" sortOrder="0" createDate="2014-06-01T15:15:40" updateDate="2014-10-17T23:33:15" nodeName="March" urlName="march" path="-1,1050,1188,1196,1197" isDoc="" nodeType="1181" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="1127" nodeTypeAlias="uDateFoldersyFolderMonth">
          <uDateFoldersyFolderDay id="1198" key="38307971-13ec-443a-ab7f-914ffba079ed" parentID="1197" level="5" creatorID="0" sortOrder="2" createDate="2014-06-01T15:15:40" updateDate="2014-10-17T23:33:15" nodeName="05" urlName="05" path="-1,1050,1188,1196,1197,1198" isDoc="" nodeType="1180" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="1127" nodeTypeAlias="uDateFoldersyFolderDay">
            <uBlogsyPost id="1199" key="c4d4a0d1-8429-4e99-8435-c4af2c8f7584" parentID="1198" level="6" creatorID="0" sortOrder="2" createDate="2014-06-01T15:15:40" updateDate="2014-10-17T23:33:15" nodeName="Happy Friday" urlName="happy-friday" path="-1,1050,1188,1196,1197,1198,1199" isDoc="" nodeType="1176" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="1124" nodeTypeAlias="uBlogsyPost">
              <umbracoNaviHide>0</umbracoNaviHide>
              <uBlogsyContentTitle><![CDATA[Happy Friday]]></uBlogsyContentTitle>
              <uBlogsyContentSummary><![CDATA[Is it that time yet?!! Happy Friday to all! #weekendalmost #gretakate #busyweek #dayofftomorrow #champagnefriday #custommade]]></uBlogsyContentSummary>
              <uBlogsyContentBody><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque orci id massa tristique, at vulputate quam euismod. Quisque congue at tellus id fermentum. Fusce rhoncus quam nec iaculis elementum. Etiam a enim egestas, eleifend lacus eget, dignissim arcu. Nunc et consectetur est. Quisque ut mauris enim. Curabitur vel placerat tellus. Sed eget massa felis. Proin ut tellus eu enim tincidunt porttitor at in lectus. Praesent porta dui quam, vel eleifend tellus pretium non. Cras laoreet mi quis velit dapibus gravida. In quis odio placerat, auctor turpis sit amet, bibendum turpis. Nulla facilisi. Nam est arcu, auctor sit amet tincidunt a, tempus sed orci.</p>
<p>Nunc vitae porttitor leo. Nam augue dolor, volutpat sed fermentum ornare, convallis quis nulla. Nullam tempus, ligula aliquet rhoncus placerat, neque sem sollicitudin felis, nec sodales risus ipsum sit amet urna. Aliquam rhoncus nibh quis est pellentesque venenatis. In lectus nibh, tristique et bibendum sed, dignissim ut ipsum. Proin vel mauris nec risus euismod aliquam. Donec ornare viverra laoreet. Aliquam commodo mattis magna. Proin fringilla ultricies neque ac ultricies.</p>]]></uBlogsyContentBody>
              <uBlogsyNavigationTitle><![CDATA[Happy Friday]]></uBlogsyNavigationTitle>
              <uBlogsyPostDate>2014-03-05T10:35:48</uBlogsyPostDate>
              <uBlogsyPostImage>1205</uBlogsyPostImage>
              <uBlogsyPostAuthor><![CDATA[1190]]></uBlogsyPostAuthor>
              <uBlogsyPostTags><![CDATA[1194]]></uBlogsyPostTags>
              <uBlogsyPostDisableComments>0</uBlogsyPostDisableComments>
            </uBlogsyPost>
            <umbracoNaviHide>0</umbracoNaviHide>
          </uDateFoldersyFolderDay>
          <umbracoNaviHide>0</umbracoNaviHide>
        </uDateFoldersyFolderMonth>
        <uDateFoldersyFolderMonth id="1210" key="d8343857-658f-465d-ac42-28c44da0a276" parentID="1196" level="4" creatorID="0" sortOrder="1" createDate="2014-06-08T16:29:12" updateDate="2014-10-17T23:33:15" nodeName="June" urlName="june" path="-1,1050,1188,1196,1210" isDoc="" nodeType="1181" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="1127" nodeTypeAlias="uDateFoldersyFolderMonth">
          <uDateFoldersyFolderDay id="1211" key="b0fec894-4705-484f-8653-bb494fd78c45" parentID="1210" level="5" creatorID="0" sortOrder="0" createDate="2014-06-08T16:29:12" updateDate="2014-10-17T23:33:15" nodeName="08" urlName="08" path="-1,1050,1188,1196,1210,1211" isDoc="" nodeType="1180" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="1127" nodeTypeAlias="uDateFoldersyFolderDay">
            <uBlogsyPost id="1212" key="ada5c8e3-01d3-4890-a512-50988280e394" parentID="1211" level="6" creatorID="0" sortOrder="1" createDate="2014-06-08T16:29:51" updateDate="2014-10-17T23:33:15" nodeName="Fun Final Fitting" urlName="fun-final-fitting" path="-1,1050,1188,1196,1210,1211,1212" isDoc="" nodeType="1176" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="1124" nodeTypeAlias="uBlogsyPost">
              <umbracoNaviHide>0</umbracoNaviHide>
              <uBlogsyContentTitle><![CDATA[Fun Final Fitting]]></uBlogsyContentTitle>
              <uBlogsyContentSummary><![CDATA[Fun final fitting with these two cuties #flowergirldresses #gretakate #bridal #wedding #formaldresses #tulle #pretty]]></uBlogsyContentSummary>
              <uBlogsyContentBody><![CDATA[<p>Fun final fitting with these two cuties #flowergirldresses #gretakate #bridal #wedding #formaldresses #tulle #pretty</p>]]></uBlogsyContentBody>
              <uBlogsyNavigationTitle><![CDATA[Fun Final Fitting]]></uBlogsyNavigationTitle>
              <uBlogsyPostDate>2014-06-08T16:29:12</uBlogsyPostDate>
              <uBlogsyPostImage>1207</uBlogsyPostImage>
              <uBlogsyPostAuthor><![CDATA[1190]]></uBlogsyPostAuthor>
              <uBlogsyPostTags><![CDATA[1213,1194]]></uBlogsyPostTags>
              <uBlogsyPostDisableComments>0</uBlogsyPostDisableComments>
            </uBlogsyPost>
            <umbracoNaviHide>0</umbracoNaviHide>
          </uDateFoldersyFolderDay>
          <umbracoNaviHide>0</umbracoNaviHide>
        </uDateFoldersyFolderMonth>
        <umbracoNaviHide>1</umbracoNaviHide>
      </uDateFoldersyFolderYear>
      <umbracoNaviHide>0</umbracoNaviHide>
      <uBlogsyContentTitle><![CDATA[Blog]]></uBlogsyContentTitle>
      <uBlogsyContentBody><![CDATA[<h3>About GretaKate</h3>
<p>Insert some details here about GreatKate and the blog.</p>]]></uBlogsyContentBody>
      <uBlogsySeoKeywords><![CDATA[Keywords]]></uBlogsySeoKeywords>
      <uBlogsySeoDescription><![CDATA[Description]]></uBlogsySeoDescription>
      <uBlogsyNavigationTitle><![CDATA[Blog]]></uBlogsyNavigationTitle>
      <uBlogsyGeneralUseSummary>1</uBlogsyGeneralUseSummary>
      <uBlogsyGeneralShowSocialMedia>1</uBlogsyGeneralShowSocialMedia>
      <uBlogsyGeneralUseTitleAsNodeName>1</uBlogsyGeneralUseTitleAsNodeName>
      <uBlogsyBlogLinks><![CDATA[http://feeds.feedburner.com/UmbracoBlog
http://feeds.feedburner.com/midcodecrisis
]]></uBlogsyBlogLinks>
    </uBlogsyLanding>
    <Contact id="2252" key="3547199b-129e-4a48-9737-0660b71077ff" parentID="1050" level="2" creatorID="0" sortOrder="10" createDate="2014-10-05T16:54:56" updateDate="2014-10-17T23:33:15" nodeName="Contact" urlName="contact" path="-1,1050,2252" isDoc="" nodeType="2250" creatorName="Stephen Price" writerName="Stephen Price" writerID="0" template="2251" nodeTypeAlias="Contact">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Contact]]></title>
      <contactDetails><![CDATA[<p>Greta Rumsby</p>
<p>Designer/Director</p>
<p><a href="mailto:gretakate@internode.on.net">gretakate@internode.on.net</a></p>]]></contactDetails>
    </Contact>
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[Home]]></title>
    <facebookLink><![CDATA[http://www.facebook.com/GretaKate]]></facebookLink>
    <instagramLink><![CDATA[http://instagram.com/_gretakate_]]></instagramLink>
    <youTubeLink><![CDATA[http://www.youtube.com/user/GretaKate]]></youTubeLink>
    <socialHeading><![CDATA[Follow GretaKate]]></socialHeading>
    <siteName><![CDATA[GretaKate]]></siteName>
    <headerImage>2232</headerImage>
    <location><![CDATA[<p>3 Charles Street</p>
<p>Norwood 5067</p>
<p>South Australia</p>]]></location>
    <openingHours><![CDATA[<p>Mon - Thurs: Appointment only</p>
<p>Fri: 9am - 5pm</p>
<p>Sat: Appointment only</p>]]></openingHours>
    <locationHeading><![CDATA[Visit the GretaKate Studio]]></locationHeading>
    <openingHoursHeading><![CDATA[Showroom Hours]]></openingHoursHeading>
  </umbHomePage>
</root>