@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
}

<div class="row">
    <div class="large-6 columns">
        <img src="@Umbraco.Media((int)CurrentPage.heroImage).Url" class="full-width">
    </div>
    <div class="large-6 columns">
        <div class="article">
            <h2>@CurrentPage.Title</h2>
            <div class="small-divider"></div>
            @CurrentPage.BodyText
        </div>
    </div>
</div>

@{ Html.RenderPartial("_ImageGallery"); }