<?xml version="1.0"?>
<uLoremsy>
    <tree nodeName="*" enabled="true">
		
        <documentType nodeTypeAlias="uBlogsyPost,uBlogsyContainerComment,uBlogsyFolderDay,uBlogsyFolderMonth,uBlogsyFolderYear,uBlogsyContainerPage" enabled="true">
            <property alias="uBlogsyContentTitle" enabled="true">Document.Name</property>
            <property alias="uBlogsyContentBody" enabled="true"></property>
            <property alias="uBlogsyContentSummary" enabled="true"></property>
            <property alias="uBlogsySeoKeywords" enabled="true"></property>
            <property alias="uBlogsySeoDescription" enabled="true"></property>
            <property alias="umbracoNaviHide" enabled="true">0</property>
            <property alias="umbracoRedirect" enabled="true"></property>
            <property alias="umbracoUrlName" enabled="true"></property>
            <property alias="umbracoInternalRedirectId" enabled="true"></property>
            <property alias="umbracoUrlAlias" enabled="true"></property>
        </documentType>


        <documentType nodeTypeAlias="uBlogsyContainerComment" enabled="true">
            <property alias="uBlogsyContentTitle" enabled="true">Comments</property>
        </documentType>


        <documentType nodeTypeAlias="uBlogsyComment" enabled="true">
            <property alias="uBlogsyCommentDate" enabled="true">DateTime.UtcNow</property>
        </documentType>
        
        
        <documentType nodeTypeAlias="uBlogsyPost" enabled="true">
            <property alias="uBlogsyPostDate" enabled="true">Document.DateCreated</property>
            <property alias="uBlogsyContentTitle" enabled="true">Document.Name</property>
            <property alias="uBlogsyNavigationTitle" enabled="true">Document.Name</property>
            <property alias="uCommentsyArticleDisableComments" enabled="true">0</property>
        </documentType>

        
        <documentType nodeTypeAlias="uBlogsyAuthor" enabled="true">
            <property alias="uBlogsyAuthorName" enabled="true">Document.Name</property>
        </documentType>

        <documentType nodeTypeAlias="uBlogsyLabel" enabled="true">
            <property alias="uBlogsyLabelName" enabled="true">Document.Name</property>
        </documentType>


    </tree>
</uLoremsy>

