@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ Html.RenderAction("MobileNavigation", "Navigation"); }

<header class="hide-for-small">
    <div class="row logo">
        <div class="large-12 columns">
            <a href="/">
                <img src="/css/images/logo.png" alt="@Umbraco.Field("siteName", recursive: true)" class="logo" />
            </a>
        </div>
    </div>

    @{ Html.RenderAction("TopNavigation", "Navigation"); }

</header>

@if (CurrentPage.Level != 1)
{
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
    <div id="headerImage">
        <img src="@Umbraco.Media((int)homePage.HeaderImage).Url" class="full-width">
    </div>
    <div class="row divider"></div>
}