@model GretaKate.Web.Models.EnquiryModel

@using (Html.BeginUmbracoForm("Submit", "Enquiry", null, new Dictionary<string, object> { { "data-abide", "ajax" } }))
{
    <div class="row">
        <div class="large-12 columns">
            @Html.TextBoxFor(m => m.Name, new { @class = "text", @placeholder = "Name", @required = "" })
            <small class="error">Name is required.</small>
        </div>
        <div class="large-12 columns">
            @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "text", @placeholder = "Email", @required = "" })
            <small class="error">A valid email address is required.</small>
        </div>
	</div>
	<div class="row">
        <div class="large-12 columns">
            @Html.TextAreaFor(m => m.Message, new { @class = "text", @placeholder = "Message", @required = "" })
            <small class="error">Message is required.</small>
        </div>
	</div>
	<div class="row">
        <div class="large-12 columns">
            <button type="submit" class="button submit">Send Message</button>
            <a href="#" class="button clear">Clear Form</a>
        </div>
	</div>
    <div id="form-success" class="reveal-modal medium" data-reveal>
        <h3>Thank you for your enquiry</h3>
        <p>We will get back to you soon.</p>
        <a class="close-reveal-modal">&#215;</a>
    </div>
}