/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h1 {
font-weight: 300; color: #52575c;
}

h2 {
font-weight: 300; color: #52575c;
}

h3 {
font-weight: 300; color: #52575c;
}

h4 {
font-weight: 300; color: #52575c;
}

h5 {
font-weight: 300; color: #52575c;
}

h6 {
font-weight: 300; color: #52575c;
}

p {

}

span {
font-weight: 300; color: #52575c;
}

